[Desktop Entry]
Encoding=UTF-8
Name=Link to bryantpark_6.jpg
Type=Link
URL=http://www.asla.org/sustainablelandscapes/images/bryantpark/bryantpark_6.jpg
Icon=image-jpeg
